{
  "presets": [
      "env",
      "@babel/preset-react"
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    },
    "production": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}