@tailwind base;

@tailwind components;

@tailwind utilities;


.hero-bg {
  background-image: url('../../images/apartment-chair-contemporary-509922.png');
  background-position: center;
  height: 85vh;
}
