@tailwind base;

@tailwind components;

@tailwind utilities;

.hero-bg {
  background-image: url("../../images/apartment-chair-contemporary-509922.png");
  background-position: center;
  height: 90vh;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5rem;
}

@media screen and (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 992px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.modal-cover {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1040;
  display: none;
}

.modal-cover.modal-cover-active {
  display: block;
}

.modal-container {
  z-index: 1050;
  position: fixed;
  border: 1px solid lightgray;
  border-radius: 6px;
  background: white;
  width: 600px;
  min-height: 300px;
  left: 50%;
  top: 20%;
  margin-left: -300px;
  display: none;
}

.modal-container.modal-container-active {
  display: block;
}
